@import "~/styles/variables.scss";

.reading-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  z-index: 10;
  background-color: rgba($azulMarinho, 0.4);
}

.reading-progress-bar-fill {
  height: 100%;
  background: linear-gradient(90deg, $verdeEsmeralda, $azulCiano);
  transition: width 0.1s linear;
  transform-origin: left;
}
