@use "/src/scss/media-query" as *;

.container-projects {
  .container-title {
  }

  .container-projects-section {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    column-gap: 30px;

    @include md {
      grid-template-columns: repeat(2, 2fr);
    }

    @include lg {
      grid-template-columns: repeat(3, 3fr);
    }
  }
}
