@use "~/styles/breakpoints.scss" as *;

@import "~/styles/variables";

.portfolio-container {
  padding: 100px 30px;
  background-color: $azulMarinho;

  .portfolio-content-container {
    @include md {
      max-width: 1280px;
      margin: 0 auto;
    }

    .portfolio-project-list {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      padding-top: 20px;
    }
  }
}
