@import "~/styles/variables";

.portfolio-container {
  padding: 100px 30px 50px;
  background-color: $azulMarinho;

  .portfolio-project-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    padding-top: 20px;
    margin-top: 50px;
  }
}
