@use "~/styles/breakpoints.scss" as *;

@import "~/styles/variables";

.portfolio-container {
  padding: 80px 30px;
  background-color: $surface-0;

  .portfolio-content-container {
    @include md {
      max-width: 1280px;
      margin: 0 auto;
    }

    .portfolio-project-list {
      display: flex;
      flex-direction: column;
      row-gap: 40px;

      padding-top: 20px;

      @include lg {
        row-gap: 48px;
      }
    }
  }
}
