@import "../../../styles/variables.scss";

.menu-mobile-container {
  border-top: 3px solid $verdeEsmeralda;

  position: fixed;
  right: 30px;
  top: 30px;
  cursor: pointer;
  z-index: 2;

  &::after,
  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    margin-top: 6px;
    background-color: $verdeEsmeralda;
    position: relative;
    transition: all 0.3s;
  }

  &.active {
    border-top-color: transparent;

    &::before {
      transform: rotate(135deg);
      background-color: $verdeEsmeralda;
    }

    &::after {
      transform: rotate(-135deg);
      top: -9.3px;
      background-color: $verdeEsmeralda;
    }
  }
}

.menu-mobile-content {
  display: none;
  background: rgba(0, 0, 0, 0.8);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &.active {
    display: block;
  }
}
