@use "/src/scss/media-query" as *;

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-top: 30px;

  @include md {
    flex-direction: row;
    justify-content: space-between;
  }

  .image-container {
    width: 100%;
    overflow: hidden;

    .help-image {
      width: 100%;
      object-fit: contain;
    }
  }

  .text-and-social-media-container {
    width: 100%;

    .text-container {
      margin-top: 30px;
      font-weight: 100;
      font-size: 14px;

      @include md {
        margin-top: 0;
      }

      @include lg {
        margin-top: 30px;
        font-size: 16px;
      }
    }

    .social-media-container {
      margin-top: 30px;
      width: 100%;

      display: grid;
      grid-template-columns: repeat(2, 80px);
      gap: 20px;
      justify-content: center;
      align-items: center;

      @include rwd(375) {
        grid-template-columns: repeat(4, 60px);
      }

      @include lg {
        margin-top: 100px;
      }

      img {
        width: 100%;
      }
    }
  }
}
