.container {
  padding: 10rem 2rem;
  background-color: #6f8e88;

  .content {
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
      text-align: center;
      max-width: 28rem;
      margin-bottom: 5rem;

      h1 {
        font-weight: bold;
        font-size: 3.6rem;

        &::after {
          content: "";
          display: block;
          width: 5rem;
          height: 0.4rem;
          background-color: #fff;
          margin: 1rem auto 2rem;
        }
      }

      p {
        font-size: 1.4rem;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .image {
        position: relative;
        width: 28rem;
        height: 30rem;
        margin-bottom: 2rem;

        border-radius: 0.8rem;
        overflow: hidden;
        cursor: pointer;

        .name {
          position: absolute;
          bottom: 0;
          background-color: rgba($color: #cf8562, $alpha: 0.75);
          width: 100%;
          height: 5rem;
          text-align: center;
          font-size: 2.4rem;
          color: #fff;

          p {
            line-height: 5rem;
          }
        }
      }

      .github {
        display: flex;
        max-width: 28rem;
        width: 100%;

        .repository {
          position: relative;
          background-color: #cf8562;
          padding: 2rem;
          flex: 1;
          margin-right: 2rem;

          border-radius: 0.8rem;
          overflow: hidden;
          cursor: pointer;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h3 {
            font-size: 3.6rem;
            line-height: 5.4rem;
          }

          p {
            font-size: 1.8rem;
            line-height: 2.7rem;
          }
        }

        .social {
          display: flex;
          flex-direction: column;

          .followers {
            width: 10rem;
            padding: 2rem;
            border-radius: 0.8rem;
            background-color: #cf8562;
            cursor: pointer;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & + .followers {
              margin-top: 2rem;
            }

            h3 {
              font-size: 2.4rem;
              line-height: 3.6rem;
            }

            p {
              font-size: 1.1rem;
              line-height: 1.7rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .container {
    .content {
      flex-direction: row;
      justify-content: space-evenly;

      .text {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    .content {
      max-width: 118rem;
      margin: 0 auto;
      justify-content: space-between;

      .text {
        text-align: left;
        max-width: 48rem;

        h1 {
          font-size: 4.8rem;

          &::after {
            margin: 1rem 0 2rem;
          }
        }

        p {
          font-size: 1.8rem;
        }
      }

      .info {
        flex-direction: row;

        .image {
          flex: 0 0 28rem;
          margin: 0 2rem 0 0;
        }

        .github {
          height: 30rem;
          max-width: 48rem;
          flex-direction: column;

          .repository {
            margin: 0 0 2rem;
            height: 20rem;
          }

          .social {
            flex-direction: row;

            .followers {
              & + .followers {
                margin-top: 0;
                margin-left: 2rem;
              }
            }
          }
        }
      }
    }
  }
}
