@use "~/styles/breakpoints.scss" as *;

@import "~/styles/variables";

.resume-card-container {
  padding: 20px;
  background-color: rgba($color: $azulCeleste, $alpha: 0.5);
  border: 1px solid beige;
  border-radius: 16px;
  height: 350px;

  &:hover {
    background-color: rgba($color: $azulCeleste, $alpha: 1);
  }

  @include lg {
    max-height: 300px;

    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .resume-card-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    @include sm {
      margin-bottom: 40px;
    }

    @include lg {
      flex-direction: row;
      justify-content: space-between;
    }

    .resume-card-title {
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: bold;
      color: $verdeEsmeralda;

      @include md {
        font-size: 32px;
        margin-bottom: 0;
      }
    }

    .resume-card-role {
      margin-bottom: 10px;
      font-size: 12px;

      @include md {
        font-size: 14px;
      }

      & span {
        color: $verdeEsmeralda;
      }
    }

    .resume-card-period {
      font-size: 11px;
      color: $verdeEsmeralda;

      @include md {
        font-size: 14px;
      }
    }

    .resume-card-title,
    .resume-card-role,
    .resume-card-period {
      text-align: center;
      line-height: 150%;

      @include md {
        text-align: left;
      }
    }

    .resume-card-period {
      @include lg {
        width: 40%;
        text-align: right;
      }
    }
  }

  .resume-card-description {
    font-size: 14px;
    line-height: 120%;

    @include md {
      font-size: 16px;
    }

    @include xl {
      line-height: 150%;
    }
  }
}
