.container {
  padding: 10rem 2rem;
  background-color: #6f8e88;

  .content {
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
      text-align: center;
      max-width: 28rem;
      margin-bottom: 5rem;

      h1 {
        font-weight: bold;
        font-size: 3.6rem;

        &::after {
          content: "";
          display: block;
          width: 5rem;
          height: 0.4rem;
          background-color: #fff;
          margin: 1rem auto 2rem;
        }
      }

      p {
        font-size: 1.6rem;
      }
    }

    .characteristics {
      background: #cf8562;
      border-radius: 0.8rem;
      padding: 4rem;
      max-width: 28rem;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;

      ul {
        user-select: none;
        margin: 0 auto;

        & + ul {
          margin-top: 2rem;
        }

        li {
          list-style: disc inside;
          font-style: italic;

          & + li {
            margin-top: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .container {
    .content {
      flex-direction: row;
      justify-content: space-evenly;

      .text {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    .content {
      max-width: 118rem;
      margin: 0 auto;
      justify-content: space-between;

      .text {
        text-align: left;
        max-width: 48rem;

        h1 {
          font-size: 4.8rem;

          &::after {
            margin: 1rem 0 2rem;
          }
        }

        p {
          font-size: 1.8rem;
        }
      }

      .characteristics {
        max-width: 52rem;
        flex-direction: row;

        ul {
          & + ul {
            margin-top: 0;
          }
        }
      }
    }
  }
}
