@use "/src/scss/media-query" as *;

.container-about {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;

  @include md {
    flex-direction: row;
  }

  .text-container {
    width: 100%;
    height: 100%;

    p {
      font-size: 14px;
      font-weight: 100;
      height: 100%;

      @include lg {
        font-size: 16px;
      }
    }
  }

  .image-container {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;

    @include md {
      max-height: 289px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}
