.title {
  font-size: 24px;
  font-family: "JetBrains Mono";
  width: 100%;

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #121212;
    margin-top: 20px;
  }
}
