.container {
  height: 5.6rem;

  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background: #485855;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 28rem;
    margin: auto;

    span a {
      font-size: 3.6rem;
      transition: all 200ms ease;

      &:hover {
        color: #cf8562;
      }
    }

    nav ul {
      display: none;
      align-items: center;

      li {
        & + li {
          margin-left: 2rem;
        }

        a {
          position: relative;
          line-height: 2.7rem;
          font-size: 1.8rem;
          transition: all 200ms ease;

          &:hover {
            color: #cf8562;
          }

          &.activeLink {
            color: #cf8562;

            &::after {
              content: "";
              display: block;
              bottom: -5px;
              position: absolute;
              background-color: #cf8562;
              height: 0.3rem;
              width: 100%;
            }
          }
        }
      }
    }

    button {
      display: flex;
      align-items: center;
      padding: 1rem;
      border: none;
      background: none;
      color: #fff;
      cursor: pointer;
      margin-right: -1rem;

      span {
        display: block;
        border-top: 2px solid #fff;
        width: 2rem;

        &::after,
        &::before {
          content: "";
          display: block;
          width: 2rem;
          height: 0.2rem;
          margin-top: 0.5rem;
          background-color: currentColor;
          position: relative;
          transition: all 0.3s;
        }

        &.active {
          border-top-color: transparent;

          &::before {
            transform: rotate(135deg);
          }

          &::after {
            transform: rotate(-135deg);
            top: -0.7rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .container {
    .content {
      justify-content: space-between;
      max-width: 100%;
      padding: 0 2rem;

      nav ul {
        display: flex;
      }

      button {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    .content {
      justify-content: space-between;
      max-width: 118rem;
      margin: 0 auto;
      padding: 0;
    }
  }
}
