.container {
  height: 7rem;

  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background: #485855;

  .content {
    margin: auto;
    height: 100%;
    max-width: 118rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 3.6rem;
      transition: all 200ms ease;

      &:hover {
        color: #cf8562;
      }
    }

    nav ul {
      display: flex;
      align-items: center;

      li {
        & + li {
          margin-left: 2rem;
        }

        a {
          position: relative;
          line-height: 2.7rem;
          font-size: 1.8rem;
          transition: all 200ms ease;

          &:hover {
            color: #cf8562;
          }

          &.activeLink {
            color: #cf8562;

            &::after {
              content: "";
              display: block;
              bottom: -5px;
              position: absolute;
              background-color: #cf8562;
              height: 0.3rem;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
