@use "~/styles/breakpoints.scss" as *;

@import "~/styles/variables";

.header-container {
  display: none;
  height: 60px;
  z-index: 9;
  background-color: transparent;
  transition: background-color 0.25s ease-in-out;

  &.active {
    background-color: $verdeEsmeralda;

    .header-content-container {
      .header-logo:hover {
        color: $azulMarinho;
      }

      .header-navigation-container {
        .header-navigation-list-container {
          .header-navigation-item a {
            &:hover,
            &.active {
              color: $azulMarinho;

              &::after {
                background-color: $azulMarinho;
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
  }

  @include lg {
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .header-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;

    border-bottom: 2px solid $verdeEsmeralda;

    @include rwd(1320) {
      padding: 0;
    }

    .header-logo {
      text-decoration: none;
      color: $brancoPuro;
      font-size: 40px;
      font-weight: bold;
      transition: color 0.25s ease-in-out;

      &:hover {
        color: $verdeEsmeralda;
      }
    }

    .header-navigation-container {
      .header-navigation-list-container {
        display: flex;
        flex-direction: row;

        .header-navigation-item a {
          position: relative;
          text-decoration: none;
          margin-left: 50px;
          font-size: 24px;
          color: $brancoPuro;
          padding-bottom: 6px;
          transition: color 0.25s ease-in-out;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $verdeEsmeralda;
            transform: scaleX(0);
            transform-origin: left center;
            transition: transform 0.3s ease-in-out;
          }

          &:hover,
          &.active {
            color: $verdeEsmeralda;

            &::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}
