@use "~/styles/breakpoints.scss" as *;

@import "~/styles/variables.scss";

.modal-container {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  background-color: rgba($color: #000, $alpha: 0.9);

  &.active {
    display: block;
  }

  .modal-content-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 80%;
    max-width: 1280px;
    height: 500px;
    background-color: $azulCeleste;
    border: 1px solid $cinzaClaro;
    border-radius: 16px;
    padding: 40px;

    .status-container {
      font-weight: bold;
      font-size: 24px;
      text-transform: uppercase;
      color: $verdeEsmeralda;

      @include md {
        font-size: 32px;
      }

      &.error {
        color: #e83b31;
      }
    }

    .text-container {
      font-size: 16px;
      line-height: 150%;
      text-align: center;

      @include md {
        font-size: 20px;
      }

      @include lg {
        font-size: 24px;
      }
    }

    .close-button {
      cursor: pointer;
      background-color: $azulCiano;
      border: none;
      border-radius: 16px;
      color: $brancoPuro;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;

      padding: 10px;
      width: 100%;
      justify-self: flex-end;

      transition: transform ease-in-out 0.2s;

      &:hover {
        transform: scale(1.05);
      }

      @include md {
        font-size: 32px;
      }
    }
  }
}
