.container {
  display: none;
  visibility: hidden;
  padding: 2rem;

  background-color: rgba($color: #485855, $alpha: 0.9);
  height: calc(100vh - 5.6rem);
  width: min(100vw);

  position: fixed;
  top: 5.6rem;
  right: 0;
  z-index: 15;

  transform: translateX(100%);

  transition: all ease 0.3s;

  &.active {
    transform: translateX(0);
    visibility: visible;
  }

  button {
    background: none;
    border: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    li + li {
      margin-top: 2rem;
    }

    li a {
      position: relative;
      color: white;

      &.activeLink {
        color: #cf8562;

        &::after {
          content: "";
          display: block;
          bottom: -5px;
          position: absolute;
          background-color: #cf8562;
          height: 0.3rem;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    display: block;
  }
}
