.container {
  background-color: #6f8e88;
  padding: 4rem 2rem;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: #fff;

    h3 {
      font-size: 2.4rem;
      line-height: 2.8rem;

      &::after {
        content: "";
        display: block;
        width: 3rem;
        height: 0.3rem;
        background-color: #fff;
        margin: 1rem auto 2rem;
      }
    }

    .about {
      max-width: 28rem;
      width: 100%;
      margin-bottom: 5rem;

      p {
        font-size: 1.4rem;
        line-height: 1.6rem;

        & + p {
          margin-top: 1rem;
        }
      }
    }

    .linksAndSocialContainer {
      max-width: 28rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      & > :first-child {
        margin-bottom: 2rem;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .container {
    .content {
      flex-direction: row;
      justify-content: space-evenly;

      .about {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    .content {
      max-width: 118rem;
      margin: 0 auto;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;

      h3::after {
        margin: 1rem 0 2rem;
      }

      .linksAndSocialContainer {
        flex-direction: row;
        justify-content: space-between;
        max-width: 52rem;
      }
    }
  }
}
