.container {
  min-height: 25rem;
  background-color: #6f8e88;
  padding: 4rem 0;

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    max-width: 118rem;
    margin: 0 auto;
    color: #fff;

    h3 {
      font-size: 2.4rem;
      line-height: 2.8rem;

      &::after {
        content: "";
        display: block;
        width: 3rem;
        height: 0.3rem;
        background-color: #fff;
        margin: 1rem 0 2rem;
      }
    }

    .about {
      max-width: 48rem;

      p {
        font-size: 1.4rem;
        line-height: 1.6rem;

        & + p {
          margin-top: 1rem;
        }
      }
    }

    .linksAndSocialContainer {
      width: 100%;
      max-width: 48rem;

      display: flex;
      justify-content: space-between;
    }
  }
}
