@use "/src/scss/media-query" as *;

.nav-container {
  display: none;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    cursor: pointer;
  }

  .button-navigator {
    font-size: 24px;
    cursor: pointer;

    border: none;
    color: #121212;
    background-color: transparent;
    margin-left: 30px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @include md {
    display: flex;
  }
}
