@use "/src/scss/media-query" as *;

.nav-container {
  display: none;

  .button-navigator {
    font-size: 24px;
    cursor: pointer;

    border: none;
    color: #121212;
    background-color: transparent;
    margin-left: 30px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @include md {
    display: flex;
  }
}
