@import "~/styles/variables";

.project-card-container {
  background-color: $azulCeleste;
  border: 1px solid $cinzaClaro;
  border-radius: 16px;

  width: 100%;
  height: 550px;
  padding: 20px;

  .project-card-image {
    margin: 0 auto;
    display: block;
    border: 1px solid $cinzaClaro;
    border-radius: 16px;

    width: 100%;
    height: 250px;

    margin-bottom: 20px;
  }

  .project-card-name {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;

    a {
      text-decoration: none;
      color: $verdeEsmeralda;
    }
  }

  .project-card-description {
    font-size: 14px;
    text-align: center;
  }
}
