@use "~/styles/breakpoints.scss" as *;

@import "~/styles/variables";

.title-component {
  font-size: 32px;
  line-height: 150%;
  text-transform: uppercase;

  @include lg {
    font-size: 48px;
  }

  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 80px;
    background-color: $verdeEsmeralda;
  }
}
